.feed-form {
    margin-top: 36px;
    &__field {
        margin-top: 15px;
        width: 300px;
        height: 50px;
        padding-left: 15px;
        display: block;
    }
    &_mt25 {
        margin-top: 25px;
    }
    .error {
        border: 1px solid red;
    }
    label.error {
        border: none;
        display: block;
        color: red;
        font-weight: 300;      
        margin-top: 3px;
    }
}