@media (max-width: 991px) {
    .consultation {
        .container {
            max-width: 350px;
            padding-left: 5px;
            transform: scale(0.9);
        }
        &__title {
            font-size: 20px;
        }

        &__descr {
            font-size: 15px;
            margin-top: 20px;
        }        
    }
    .catalog {
        &__content {
            max-width: 640px;
            margin: 0 auto;
        }
        &__item {
            &:nth-child(3n) {
                margin-right: 20px;
            }
        }
        &__tab {
            width: 160px;
            font-size: 15px;
        }
    }

}

@media (max-width: 767px) {

    .advantages__icons {
        flex-direction: column;
        margin: 0 auto;
        width: 246px;
    }

    .header__phone {
        font-size: 14px;
    }

    .header__official {
        span {
            font-size: 13px;
        }
    }
    
}

@media (max-width: 668px) {

    .catalog {
        &__content {
            max-width: 297px;
            margin: 0 auto;
        }
    }

}


@media (max-width: 575px) {
    .promo {
        .header {
            flex-direction: column;

            * {
                margin-top: 10px;
            }
        }
    }

    .header__phone {
        font-size: 18px;
    }

    .promo__icons {
        flex-direction: column;
        margin: 0 auto;
        width: 246px;
    }

    .promo__icon {
        margin-top: 30px;

        span {
            margin-top: 10px;
        }
    }

    .carousel {
        &__prev {
            left: 10px;
            padding: 5px;
        }

        &__next {
            right: 10px;
            padding: 5px;
        }

        &__wrapper {
            padding: 0 45px 0 43px;
        }
    }

    
    .catalog {
        &__tabs {
            flex-direction: column;
            align-items: center;
        }
    }

    .reviews {
        h2 {
            line-height: 1;
        }
        .container {
            max-width: 370px;
        }
        &__item {
            flex-wrap: wrap;
            padding: 20px;
            margin-top: 40px;
        }

        &__content {
            margin: 0;
            margin-top: 20px;           
        }

    }

    .footer {
        iframe {
            height: 500px;
        }
        &__info {
            padding: 18px 0;
            height: 180px;
            width: 300px;
        }
        &__address {
            font-size: 15px;
        }    
        
        &__address, &__phone, &__social {
            margin: 0;
            margin-top: 8px;
        }

        
    }

    .modal {
        &__close {
            right: 10px;
            top: 5px;
        }
    }

    
}