.reviews {
    padding: 50px 0;
    &__item {
        margin-top: 100px;
        display: flex;
    }
    &__img {
        width: 169px;
        height: 169px;
    }
    &__content {
        margin-left: 62px;
        width: 656px;
    }
    &__name {
        font-size: 18px;
        font-weight: 700;
        color: #0d0d0d;
    }
    &__run {
        font-size: 14px;
        line-height: 1.2;
        font-weight: 300;
        color: #646464;
    }
    &__comment {
        margin: 0;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 300;
        color: #0d0d0d;
    }
}